:root {
    --system-ui-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    --dela-gothic-one-font: "Dela Gothic One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --montserrat-font: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --uni-sans-font: "Uni Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --white-color: #ffffff;
    --white-color-25: rgba(255, 255, 255, 0.25);
    --black-color: #000000;
    --dark-background-color: #1f1f1f;
    --dark-background-color-60: rgba(31, 31, 31, 0.6);
    --green-color: #0dedb3;

    --slider-color-1: var(--green-color);
    --slider-color-2: #f1b822;
    --slider-color-3: #00f2f2;
    --slider-color-4: #ff9797;

    --shadow-translate-x: 12px;
    --shadow-translate-y: 10px;

    --app-height: 100%;
    --garant-slider-status-line-width: 25%;
    --garant-slider-item-translate: 0px;
    --garant-slider-item-default-translate: 0px;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 28px;
}

.button {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.button:hover {
    transform: translate(var(--shadow-translate-x), var(--shadow-translate-y));
}

.button::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px solid var(--green-color);
    transform: translate(var(--shadow-translate-x), var(--shadow-translate-y));
    z-index: -1;
    transition: 0.3s;
}

.button:hover::before {
    transform: translate(0px, 0px);
}

.button__dark-shadow::before {
    border: 1px solid var(--dark-background-color);
}

.button__light-shadow::before {
    border: 1px solid var(--white-color);
}

.button__inner {
    display: block;
    background-color: var(--green-color);
    color: var(--dark-background-color);
    font-family: var(--dela-gothic-one-font);
    text-transform: uppercase;
    transition: 0.3s;

    padding: 16px 32px;
}

.button:hover .button__inner {
    color: var(--dark-background-color-60);
}

.check-button {
    display: flex;
    align-items: center;

    font-family: var(--dela-gothic-one-font);
    font-size: 20px;
    line-height: 1;
    font-weight: 400;

    transition: ease-in-out 0.3s;
}

.check-button:hover {
    color: var(--dark-background-color-60);
}

.check-button .check-button__image-wrapper {
    position: relative;
    margin-left: 15px;
}

.check-button img {
    display: block;
    width: 20px;
}

.check-button .check-button__image-light {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.check-button .check-button__image-dark {
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.3s;
}

.check-button:hover .check-button__image-dark {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 600px) {
    .container {
        padding: 0;
        margin: 0 auto;
    }
}

.first-section {
    position: relative;
    color: var(--white-color);
    width: 100%;
    overflow-x: hidden;
}

.section__dark-background {
    position: relative;
    color: var(--white-color);
    background-color: var(--black-color);
    z-index: 5;
}

.section__dark-background::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    content: "";
    background-image: url("../assets/images/paper-background.png");
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.8;

    filter: blur(8px);
}

.section__dark-background::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    content: "";
    background-image: url("../assets/images/film-overlay.webp");
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.3;
}

.section__light-background {
    color: var(--dark-background-color);
    background-image: url("../assets/images/light-backround.webp");
    background-position: 50% 50%;
    background-repeat: repeat;
}

.first-section h2 {
    font-family: var(--dela-gothic-one-font);
    font-size: 5em;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.first-section .previous-h2 {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}

.first-section h3 {
    font-weight: 400;
    margin-bottom: 24px;
}

.first-section__button {
    display: block;
    text-align: center;
    width: calc(100% - var(--shadow-translate-x));
    margin-bottom: 24px;
}

.first-section__woman-mobile {
    display: block;
    width: 100%;
}

.first-section__woman-desktop {
    display: none;
}

.header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 28px 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-mobile .header-mobile__logo-wrapper {
    display: block;
}

.header-mobile .header-mobile__logo {
    display: block;
    width: 32px;
}

.header-mobile__burger-wrapper {
    cursor: pointer;
}

.header-mobile__burger {
    display: block;
    width: 24px;
}

.header-desktop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-background-color);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: right;
    font-size: 24px;
    transition: transform ease-in-out 0.3s;
}

.header-desktop.hidden {
    transform: translateX(100%);
}

.header-desktop__logo {
    display: block;
    padding: 20px 30px;
    background-color: var(--white-color);
    color: var(--dark-background-color);
    text-align: center;
    font-family: var(--dela-gothic-one-font);
}

.header-desktop__exit {
    display: block;
    margin: 30px 0px;
    padding: 0 30px;
}

.header-desktop__exit img {
    display: block;
    width: 30px;
}

.header-desktop__logo span {
    color: var(--green-color);
}

.header-desktop__nav-list {
    padding: 0 30px;
}

.header-desktop__nav-list li {
    margin-bottom: 24px;
    transition: 0.3s;
}

.header-desktop__nav-list li:hover {
    color: var(--green-color);
}

.header-desktop__phone {
    display: block;
    color: var(--green-color);
    font-weight: 600;
    padding: 0 30px;
}

.header-desktop__socials {
    margin: 50px 0 0;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.header-desktop__socials a,
.header-desktop__socials img {
    display: block;
}

.first-section__socials {
    display: none;
    align-items: center;
    gap: 28px;
}

.first-section__socials a {
    display: block;
}

.first-section__content {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.first-section__content-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 550px) {
    .first-section__container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 900px) {
    .first-section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .header-mobile {
        max-width: 800px;
        padding-left: 0;
        padding-right: 0;
    }

    .first-section__woman-mobile {
        display: none;
    }

    .first-section__woman-desktop {
        display: block;
        max-width: 40%;
        align-self: center;
    }

    .first-section__container {
        flex-grow: 1;
        display: flex;
        max-width: 700px;
        gap: 120px;
    }

    .first-section h1 {
        margin-bottom: 30px;
        font-size: 4em;
    }

    .first-section__button {
        max-width: 500px;
        margin-bottom: 80px;
    }

    .first-section__socials {
        display: flex;
    }
}

@media (min-width: 1000px) {
    .header-mobile {
        max-width: 900px;
    }

    .first-section__container {
        max-width: 900px;
    }
}

@media (min-width: 1250px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
        align-items: center;
        width: unset;
        padding-right: 50px;

        position: static;
        background-color: unset;
        z-index: 10;
        text-align: left;
        font-size: unset;
    }

    .header-desktop.hidden {
        transform: unset;
    }

    .header-desktop__logo {
        padding: 45px 100px;
    }

    .header-desktop__exit,
    .header-desktop__socials {
        display: none;
    }

    .header-desktop__nav {
        flex-grow: 1;
    }

    .header-desktop__nav-list li {
        margin-bottom: 0px;
    }

    .header-desktop__nav-list {
        padding: 0 50px;
        display: flex;
        gap: 30px;
    }

    .header-desktop__phone {
        padding: unset;
    }

    .first-section h1 {
        font-size: 5em;
    }

    .first-section__container {
        max-width: 1100px;
    }
}

@media (min-width: 1650px) {
    .header-desktop {
        width: calc(50% + 750px);
        padding-right: 0px;
    }

    .first-section__woman-desktop {
        max-width: 50%;
    }

    .first-section__container {
        max-width: 1500px;
    }

    .first-section h1 {
        font-size: 6em;
    }

    .header-desktop__nav-list {
        gap: 40px;
    }
}

.second-section,
.third-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.second-section h3,
.third-section h3 {
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 20px;
}

.third-section h3 {
    font-size: 2.4em;
}

.second-section p,
.third-section p {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.my-photo {
    position: relative;
    width: calc(100% - 2 * var(--shadow-translate-x));
    z-index: 1;
    margin-top: 50px;
    max-width: 500px;

    margin-right: auto;
    margin-left: auto;
}

.my-photo::before,
.my-photo::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px solid var(--dark-background-color);
    z-index: -1;
}

.my-photo::before {
    transform: translate(calc(2 * var(--shadow-translate-x)), calc(-2 * var(--shadow-translate-y)));
}

.my-photo::after {
    transform: translate(var(--shadow-translate-x), calc(-1 * var(--shadow-translate-y)));
}

.my-photo .my-photo__image {
    display: block;
    width: 100%;
}

.my-photo .my-photo__heart {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 160px;
    height: 160px;
    transform: translate(-50%, 50%);
}

@media (min-width: 600px) {
    .second-section {
        max-width: 500px;
    }
}

@media (min-width: 900px) {
    .second-section {
        max-width: 800px;
    }
}

@media (min-width: 1000px) {
    .second-section.container {
        max-width: 900px;
    }

    .second-section {
        display: flex;
        align-items: center;
        gap: 160px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .my-photo {
        margin-top: 0;
    }

    .my-photo .my-photo__heart {
        left: 0%;
        transform: translate(-80px, 50%);
    }

    .second-section h3 {
        margin-bottom: 48px;
        font-size: 2.5em;
    }

    .second-section p {
        margin-bottom: 48px;
    }
}

@media (min-width: 1300px) {
    .second-section.container {
        max-width: 1200px;
    }

    .my-photo .my-photo__heart {
        width: 280px;
        height: 280px;
        transform: translate(-140px, 50%);
    }
}

.results-slider__wrapper {
    min-width: 280px;
}

.results-slider {
    position: relative;
    padding-bottom: calc(100% - var(--shadow-translate-x));
    width: calc(100% - var(--shadow-translate-x));
    margin-top: var(--shadow-translate-x);
    z-index: 1;
}

.results-slider::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(var(--shadow-translate-x), calc(-1 * var(--shadow-translate-x)));
    background-image: url("../assets/images/slider-shadow.png");
    background-position: 50% 50%;
    background-size: cover;
}

.results-slider .results-slider__result-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.3s;
}

.results-slider .results-slider__buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
}

.results-slider .results-slider__buttons .results-slider__left-button,
.results-slider .results-slider__buttons .results-slider__right-button {
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    padding: 20px 30px;
    cursor: pointer;
}

.results-slider .results-slider__buttons .results-slider__left-button {
    left: 0;
    justify-content: flex-start;
}

.results-slider .results-slider__buttons .results-slider__right-button {
    right: 0;
    justify-content: flex-end;
}

.results-slider .results-slider__buttons .results-slider__left-button img,
.results-slider .results-slider__buttons .results-slider__right-button img {
    display: block;
    width: 40px;
    height: 40px;
}

.results-slider .results-slider__buttons .results-slider__left-button img {
    transform: rotate(90deg);
}

.results-slider .results-slider__buttons .results-slider__right-button img {
    transform: rotate(-90deg);
}

.results-slider__counter {
    text-align: right;
    font-family: var(--dela-gothic-one-font);
    margin-bottom: 16px;
}

.results-slider__counter span {
    font-size: 1.6em;
    margin-right: 8px;
}

/* -------------- */

.third-section__button__desktop {
    display: none;
    text-align: center;
}

.third-section__button__mobile {
    display: block;
    text-align: center;
    margin-top: 32px;
    width: calc(100% - var(--shadow-translate-x));
}

.third-section__color-woman-desktop {
    display: none;
}

@media (min-width: 600px) {
    .third-section {
        max-width: 500px;
    }
}

@media (min-width: 900px) {
    .third-section {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .third-section {
        display: flex;
        align-items: center;
        gap: 100px;

        padding-top: 100px;
        padding-bottom: 100px;

        max-width: 1100px;
    }

    .third-section__button__mobile {
        display: none;
    }

    .third-section__button__desktop {
        display: block;
        max-width: 380px;
    }

    .third-section__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .results-slider__wrapper {
        order: -1;
        min-width: 600px;
    }

    .results-slider__counter {
        order: -1;
        text-align: left;
    }
}

@media (min-width: 1700px) {
    .third-section {
        padding-left: 160px;
        max-width: unset;
    }

    .third-section__color-woman-desktop {
        display: block;
    }
}

.fourth-section-wrapper {
    overflow-x: hidden;
}

.fourth-section {
    z-index: 1;
    padding: 24px 0;
}

.fourth-section h3 {
    margin-bottom: 24px;
    padding: 0 20px;
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 3em;
}

/* -------------- */

.price-section {
    padding: 80px 160px;
}

.price-section__content {
    margin: 0 auto;
}

.price-section h3 {
    margin-bottom: 24px;
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 2.67em;
}

.price-section__sale {
    font-size: 1.5em;
    padding: 24px 36px;
    font-weight: 900;
    font-style: italic;
    background-color: var(--green-color);
    color: var(--dark-background-color);
    font-family: var(--uni-sans-font);
    display: inline-block;
    margin-bottom: 36px;
}

.price-section__prices-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.price-section__prices-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.price-section__button {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}

.price-block__bottom,
.price-block__categories {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.price-block__categories {
    justify-content: flex-end;
}

.price-block__title {
    font-weight: 400;
    flex-shrink: 0;
    font-family: var(--dela-gothic-one-font);
    font-size: 0.9em;
}

.price-block__line {
    display: block;
    position: relative;
    flex-grow: 1;
    height: 1px;
    flex-grow: 1;
    background-color: var(--white-color);
    min-width: 20px;
}

.price-block__line::after {
    display: block;
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 7px;
    height: 7px;
    background-color: var(--white-color);
    border-radius: 50%;
}

.price-block__old-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.price-block__old-price {
    width: 190px;
    text-align: center;
}

.price-block__old-price-value {
    font-weight: 900;
    position: relative;
    font-size: 1.25em;
}

.price-block__old-price-value::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.price-block__old-price-value__empty::after {
    visibility: hidden;
    opacity: 0;
}

.price-block__new-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: var(--dark-background-color);
    background-color: var(--green-color);
    font-weight: 600;
    font-family: var(--montserrat-font);
    font-size: 1.875em;
    width: 190px;
    text-align: center;
    line-height: 1;
    height: 45px;
    flex-shrink: 0;
}

.price-block__new-price__text {
    font-size: 1em;
    font-weight: 700;
}

@media (max-width: 1800px) {
    .price-section__prices-wrapper {
        grid-template-columns: 1fr;
    }

    .price-block--desktop-only {
        display: none;
    }

    .price-block__old-price-value__empty {
        display: none;
    }

    .price-section__button {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 1300px) {
    .price-section {
        padding-left: 0;
        padding-right: 0;
    }

    .price-section__content {
        max-width: 1100px;
    }
}

@media (max-width: 1200px) {
    .price-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .fourth-section {
        padding-top: 60px;
    }

    .price-section__content {
        max-width: 800px;
    }

    .price-section {
        box-shadow: 0 20px 40px 0px #000000;
    }

    .price-section.section__dark-background::after {
        box-shadow: inset 0 -20px 40px 0px #000000;
    }

    .fourth-section.section__dark-background::before {
        background-size: 200%;
        background-position: 100% 100%;
    }
}

@media (max-width: 900px) {
    .price-section__content {
        max-width: 700px;
    }

    .price-section__button {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .price-section__content {
        max-width: 500px;
    }

    .price-section__sale {
        text-align: center;
        display: block;
        padding: 18px 10px;
    }

    .price-block__old-price {
        width: 100px;
    }

    .price-block__new-price {
        width: 100px;
        font-size: 1.2em;
        padding: 0 2px;
        height: 24px;
    }

    .price-block__new-price__text {
        font-size: 0.8em;
    }
}

@media (max-width: 550px) {
    .price-section__content {
        max-width: 350px;
    }

    .price-section__sale {
        font-size: 1.2em;
    }

    .price-section__prices-block {
        gap: 12px;
    }

    .price-block__bottom,
    .price-block__categories {
        gap: 12px;
    }

    .price-block__title {
        font-size: 0.7em;
    }

    .price-block__old-price-wrapper {
        gap: 12px;
    }

    .price-block__old-price {
        width: 80px;
    }

    .price-block__new-price {
        width: 80px;
    }

    .price-block__new-price__text {
        font-size: 0.7em;
    }
}

@media (max-width: 400px) {
    .price-section {
        padding-left: 12px;
        padding-right: 12px;
    }

    .price-section__content {
        max-width: unset;
        width: 100%;
    }

    .price-block__title {
        flex-shrink: 1;
    }
}

/* -------------- */

.garant-slider {
    display: flex;
    overflow-x: hidden;
    padding: 0 20px;
    margin-bottom: 28px;
    gap: 40px;
}

.garant-slider__item-wrapper {
    position: relative;
    width: calc(100% - 20px);
    color: var(--dark-background-color);
    flex-shrink: 0;
    transform: translateX(calc(var(--garant-slider-item-default-translate) + var(--garant-slider-item-translate)));
    transition: ease-in-out 0.3s;
}

.garant-slider__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 40%;
}

.garant-slider__item-wrapper:nth-child(4n + 1) .garant-slider__item {
    background-color: var(--slider-color-1);
}

.garant-slider__item-wrapper:nth-child(4n + 2) .garant-slider__item {
    background-color: var(--slider-color-2);
}

.garant-slider__item-wrapper:nth-child(4n + 3) .garant-slider__item {
    background-color: var(--slider-color-3);
}

.garant-slider__item-wrapper:nth-child(4n) .garant-slider__item {
    background-color: var(--slider-color-4);
}

.garant-slider__item img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

.garant-slider__item .garant-slider__item-counter {
    font-family: var(--dela-gothic-one-font);
    margin-bottom: 4px;
}

.garant-slider__item .garant-slider__item-counter span {
    font-size: 1.4em;
    margin-right: 8px;
}

.garant-slider__item h4 {
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 8px;
}

.garant-slider__item p {
    font-weight: 500;
    font-size: 0.9em;
}

.garant-slider__controller {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 20px;
}

.garant-slider__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.garant-slider__left-button,
.garant-slider__right-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.garant-slider__right-button {
    background-color: var(--green-color);
}

.garant-slider__left-button img,
.garant-slider__right-button img {
    width: 25px;
    height: 25px;
}

.garant-slider__left-button img {
    transform: rotate(90deg);
}

.garant-slider__status-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.garant-slider__status-line {
    position: relative;
    flex-grow: 1;
    height: 1px;
    background-color: var(--white-color-25);
}

.garant-slider__status-line::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--garant-slider-status-line-width);
    background-color: var(--white-color);
    transition: 0.3s;
}

.garant-slider__status-counter {
    width: 30px;
    font-family: var(--dela-gothic-one-font);
    font-size: 0.9em;
    text-align: center;
}

@media (min-width: 800px) {
    .fourth-section h3 {
        padding: 0 80px;
    }
}

@media (min-width: 1200px) {
    :root {
        --garant-slider-item-default-translate: -300px;
    }

    body {
        overflow-x: hidden;
    }

    .fourth-section-wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 160px;
    }

    .fourth-section {
        padding: 60px 200px;
    }

    .fourth-section h3 {
        padding: 0 20px;
    }

    .garant-slider {
        overflow-x: visible;
    }
}

/* -------------- */

.fifth-section {
    padding: 45px 0;
}

.fifth-section h3 {
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 20px;
    padding: 0 20px;
}

.fifth-section__woman {
    display: block;
    width: 80%;
}

.review-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    margin-left: auto;
    font-family: var(--dela-gothic-one-font);
    font-size: 0.9em;
    text-align: center;
    background-color: var(--green-color);
    padding: 15px 30px;
    transition: 0.3s;
}

.review-block__button:hover {
    color: var(--dark-background-color-60);
}

.review-block__button::before {
    display: none;
}

.review-block {
    position: relative;
    width: 90%;
    margin-left: auto;
    background-color: var(--dark-background-color);
    color: var(--white-color);
    padding: 28px 45px;
}

.review-block__quotes {
    position: absolute;
    top: 0px;
    right: 45px;
    font-family: var(--dela-gothic-one-font);
    font-size: 3em;
}

.review-block__date {
    font-size: 0.5em;
    margin-bottom: 4px;
}

.review-block__name {
    font-family: var(--dela-gothic-one-font);
    font-size: 1.2em;
}

.review-block__rating {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 8px 0;
}

.review-block__rating img {
    height: 10px;
}

.review-block__text {
    font-size: 0.7em;
}

@media (min-width: 1000px) {
    .fifth-section {
        position: relative;
        margin: 0 auto;
        max-width: 1000px;
    }

    .fifth-section h3 {
        padding: 0;
        margin-bottom: 32px;
    }
}

@media (min-width: 1300px) {
    .fifth-section {
        max-width: 1200px;
    }

    .fifth-section__woman {
        position: absolute;
        width: 60%;
        bottom: 50%;
    }

    .review-block__wrapper {
        display: flex;
        align-items: flex-end;
    }

    .review-block__button {
        max-width: unset;
        order: -1;
    }

    .review-block {
        width: 50%;
        padding: 45px 90px;
        margin-left: 0;
    }

    .review-block__date {
        font-size: 0.7em;
    }

    .review-block__name {
        font-size: 1.5em;
    }

    .review-block__rating {
        margin: 24px 0;
    }

    .review-block__rating img {
        height: 20px;
    }

    .review-block__text {
        font-size: 0.85em;
    }
}

@media (min-width: 1700px) {
    .fifth-section {
        max-width: 1600px;
    }
}

.sixth-section {
    position: relative;
    padding-bottom: 50px;
}

.sixth-section__inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.sixth-section__email-button,
.sixth-section__email-button img {
    display: block;
}

.sixth-section__email-button {
    background-color: var(--green-color);
    padding: 15px 40px;
}

.sixth-section__email-button img {
    height: 35px;
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.sixth-section__email-button:hover img {
    opacity: 0.7;
}

.sixth-section__content {
    width: 100%;
    padding: 20px 24px;
}

.sixth-section__title {
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 4px;
}

.sixth-section__description {
    margin-bottom: 20px;
}

.sixth-section__phone {
    font-weight: 600;
    color: var(--green-color);
    margin-bottom: 4px;
}

.sixth-section__email {
    margin-bottom: 20px;
}

.sixth-section__address-desktop {
    display: none;
}

.sixth-section__address-desktop span {
    display: block;
}

.sixth-section__phone,
.sixth-section__email,
.sixth-section__address-desktop span {
    font-size: 1.35em;
}

.sixth-section__address-mobile {
    font-weight: 500;
    margin-bottom: 12px;
}

.sixth-section__contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sixth-section__contacts {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sixth-section__contacts a,
.sixth-section__contacts a img {
    display: block;
    height: 24px;
}

.sixth-section__show-map a {
    color: var(--green-color);
    padding-bottom: 4px;
    border-bottom: 1px dashed var(--green-color);
}

.sixth-section__map-marker {
    display: none;
}

@media (min-width: 600px) {
    .sixth-section__content {
        padding: 40px 60px;
    }

    .sixth-section__contacts a,
    .sixth-section__contacts a img {
        height: 28px;
    }
}

@media (min-width: 800px) {
    .sixth-section__content {
        padding: 80px 100px;
    }

    .sixth-section__contacts a,
    .sixth-section__contacts a img {
        height: 32px;
    }
}

@media (min-width: 1450px) {
    .sixth-section__map-marker,
    .sixth-section__map-marker img {
        display: block;
        max-width: 100px;
    }

    .sixth-section__map-marker {
        position: absolute;
        left: 22%;
        bottom: 50%;
    }

    .sixth-section__show-map {
        display: none;
    }

    .sixth-section {
        background-image: url("../assets/images/map.png");
        background-size: cover;
        background-position: 50% 50%;
        padding-top: 250px;
        padding-bottom: 0px;
    }

    .sixth-section__inner {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .sixth-section__email-button {
        padding: 40px 30px;
    }

    .sixth-section__content {
        width: unset;
        padding: 60px 100px;
    }

    .sixth-section__email,
    .sixth-section__phone,
    .sixth-section__address-desktop,
    .sixth-section__show-map {
        text-align: right;
    }

    .sixth-section__title {
        margin-bottom: 16px;
    }

    .sixth-section__description {
        margin-bottom: 65px;
    }

    .sixth-section__address-desktop {
        display: block;
    }

    .sixth-section__address-mobile {
        display: none;
    }

    .sixth-section__info-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .sixth-section__phone,
    .sixth-section__email,
    .sixth-section__address-desktop span {
        margin-bottom: 24px;
    }

    .sixth-section__contacts-wrapper {
        display: block;
    }

    .sixth-section__contacts {
        gap: 24px;
        justify-content: flex-end;
        margin-bottom: 0px;
    }

    .sixth-section__contacts a,
    .sixth-section__contacts a img {
        height: 36px;
    }
}

@media (min-width: 1800px) {
    .sixth-section__email-button {
        padding: 80px 60px;
    }

    .sixth-section__content {
        width: unset;
        padding: 120px 150px;
    }
}

footer {
    background-color: var(--dark-background-color);
    color: var(--white-color);
    text-align: center;
    padding: 24px 28px;
    font-size: 20px;
}

.footer__nav-list {
    display: none;
}

.footer__nav-list li {
    transition: 0.3s;
}

.footer__nav-list li:hover {
    color: var(--green-color);
}

.footer__nav-list li:not(:last-child) {
    margin-bottom: 16px;
}

.footer__title {
    font-size: 1.8em;
    font-family: var(--dela-gothic-one-font);
    font-weight: 400;
    margin-bottom: 12px;
}

.footer__socials-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin: 24px 0;
}

.footer__socials-wrapper a,
.footer__socials-wrapper img {
    display: block;
}

.footer__socials-wrapper img {
    width: 32px;
}

.footer__creator {
    display: block;
    margin: 0 auto;
    color: var(--green-color);
    text-align: center;
}

.footer__creator span {
    display: block;
}

@media (min-width: 1100px) {
    footer {
        padding: 100px 0 50px;
        text-align: left;
    }

    .footer-content {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
    }

    .footer__nav-list {
        display: block;
        text-align: right;
    }

    .footer__socials-wrapper {
        justify-content: flex-start;
    }
}

@media (min-width: 1400px) {
    .footer-content {
        max-width: 1300px;
    }
}

@media (min-width: 1700px) {
    .footer-content {
        max-width: 1600px;
    }
}

.image-object * {
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.invisible {
    visibility: hidden;
}
